html, body {
    margin:0;  
    background-color: #EFF0F3;
}

body {
    margin-top: 32px;
    margin-bottom: 48px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    width: 1002px;
    flex-direction: column;
    
}

.cards-list {
    margin: 0;
    padding:0;
    list-style-type: none;
}

.cards-list__item {
    display: flex;
    
    border-radius: 16px;
    background-color:white;
    box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.04);
    margin-bottom: 64px; 
}

.cards-list__item:last-child {
    margin-bottom: 0;
}

.card {
    width: 100%;
}

.card__wrapper {
    display: flex;

}

 .card__side {
    width: 400px;  
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 16px;
    border-top-left-radius: 16px;
}

.card__side--type--1 {
    background-color: #BCD1FF;
}

.card__side--type--2 {
    background-image: linear-gradient(-45deg, #F395BA, #FED182);
}

.card__side--type--3 {
    background-color: #D2EBF7;
}

.card__main {
    width: 527px;
    display: flex;
    flex-direction: column;
    padding: 32px;
}

.card__header {
    display: flex;
    font-size: 20px;
    color: #6E798C;
}

.card__type {
    font-weight: 600;
}

.card__date {
    margin-left: auto;
    font-weight: normal;
}

.card__title {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-size: 40px;
    color: #081F32;
    margin-top: 25px;
    margin-bottom: 0px;
    /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}

.card__text {
    font-size: 18px;
    line-height: 27px;
    color: #6E798C;
    margin-top: 15px;
    margin-bottom: 25px;
    /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}

.card__footer {
    display: flex;    
    align-items: center;
    font-weight: 600;
    font-size: 18px;
    color: #007AE9;
}

.card__author {
    display: flex;
    align-items: center;
}

.author__avatar {
    margin-right: 12px;
}

.card__more {
    margin-left: auto;
}

.card__link::after {
    content: " 🡢" ;
}

.link {
    color:#007AE9;
    text-decoration: none;
}

.link:hover {
    color:#007AE9;
    text-decoration: underline;
    cursor: pointer;
}

.link:active {
    color:#00417e;
    text-decoration: underline; 
    cursor: pointer;
}

/* @media (max-width: 1355px) {
    .container {
        width: 706px;
    }

    .card__wrapper {
        display: flex;
        flex-direction: column;
    }

    .card__side {
        width: 706px;
        height: 304px;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        border-bottom-left-radius: 0px;
    }

    .card__main {
        width: 642px;
        padding: 32px;

    }

} */

@media (min-width: 786px) and (max-width: 1355px) {
    .container {
        width: 318px;
    }

    .card__wrapper {
        display: flex;
        flex-direction: column;
    }

    .card__side {
        width: 318px;
        height: 168px;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        border-bottom-left-radius: 0px;
    }

    .card__main {
        width: 270px;
        padding: 24px;
    }

    .card__img {
        width: 112px;
    }

    .card__header {
        font-size: 11px;
    }

    .card__title {
        font-size: 20px;
    }

    .card__text {
        font-size: 13px;
        line-height: 19px;
    }

    .card__footer {
        font-size: 11px;
    }

    .author__avatar-img {
        width: 32px;
    }

    .author__avatar {
        margin-right: 6px;
    }
}



@media (max-width: 785px) {

    .container {
        width: 400px;
    }

    .card__side {
        min-width   : 128px;
    }

    .card__img {
        width: 80px;
    }

    .card__main {
        padding: 24px;
        padding-left: 30px;
        padding-bottom: 26px;
    }

    .card__text {
        display: none;
    }

    .card__header {
        font-size: 11px;

    }

    .card__title {
        margin-top: 16px;
        font-size: 20px;
    }

    .card__footer {
        display: none;
    }

}