html, body {
    margin:0;  
    background-color: #EFF0F3;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
    margin-bottom: 32px;
}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1112px;
    /* height: 672px; */   
}

/* .container {
    display: flex;
    width: 1112px;

} */

.cards-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* height: 100%; */
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.cards-list__item {
    display: flex;
    /* display: block; */
    width:  344px;
    /* height: 100%; */
    border-radius: 16px;
    background-color:white;
    box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.04);
}

.card {
    display: flex;
    width: 100%;
}

.card__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* height: 550px; */
    padding: 82px 26px 40px 26px;    
}

.card__main {
    padding-left: 14px;
    padding-right: 14px;
}

.card__price {
    display: flex;
    align-items: baseline;
    margin-bottom: 17px;
}

.card__money {
    font-family: "DM Serif Display", serif;
    font-weight: 600;
    font-size: 50px;
    line-height: 0;
    color: #081F32;
    margin-right: 6px;
}

.card__period {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #A5ADBB;
}

.card__header {
    font-family: "DM Serif Display", serif;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 10px;
}

.card__header--yellow {
    color: #F3B10E;
}

.card__header--blue {
    color: #1DABF2;
}

.card__header--green {
    color: #46D68C;
}

.card__content {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    color: #92969D;
    margin-bottom: 40px;
}

.card__divider {    
    border-top: 1.5px solid #EBECED;
    width: 292px;
}

.card_benefits {
    /* height: 166px; */
    margin-top: 39.5px;
    margin-bottom: auto;
    padding-left: 14px;
    padding-right: 14px;
}

.card__goods {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    font-family: "Open Sans", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    color: #6E798C;
    padding-left: 40px;
}

.card__goods--yellow {
    list-style-image: url("img/tick_y.png");
}

.card__goods--blue {
    list-style-image: url("img/tick_b.png");
}

.card__goods--green {
    list-style-image: url("img/tick_g.png");
}

.card__good {
    padding-left: 6px;
    margin-bottom: 22px;
}

.card__side {
    display: flex;
    justify-content: space-evenly;
}

.card__button {
    width: 264px;
    height: 48px;
    border-radius: 8px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
    margin-top: 70px;
}

.card__button--current{
    background-color: #EBECED;
    color: #798289;
    border: 1.5px solid #EBECED;
}

.card__button--social{
    background-color: #FFFFFF;
    color: #798289;
    border: 1.5px solid #EBECED;
}

.card__button--marketing{
    background-color: #46D68C;
    color: #FFFFFF;
    border: 1.5px solid #46D68C;
}