html, body {
    margin:0;  
    background-color: #EFF0F3;
}

body {
    margin-top: 32px;
    margin-bottom: 48px;
}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    width: 1002px;
    flex-direction: column;
    
}

.cards-list {
    margin: 0;
    padding:0;
    list-style-type: none;
}

.cards-list__item {
    display: flex;
    height: 400px;
    border-radius: 16px;
    background-color:white;
    box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.04);
    margin-bottom: 64px; 
}

.cards-list__item:last-child {
    margin-bottom: 0;
}

.card {
    width: 100%;
}

.card__wrapper {
    display: flex;
    height: 100%;
}

 .card__side {
    width: 400px;  
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 16px;
    border-top-left-radius: 16px;
}

.card__side--type--1 {
    background-color: #BCD1FF;
}

.card__side--type--2 {
    background-image: linear-gradient(-45deg, #F395BA, #FED182);
}

.card__side--type--3 {
    background-color: #D2EBF7;
}

.card__main {
    width: 527px;
    display: flex;
    flex-direction: column;
    padding-left: 32px;
    padding-top: 32px;
    padding-bottom: 32px;
    justify-content: space-between;
}

.card__header {
    display: flex;
    justify-content: space-between;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    color: #6E798C;
}

.card__type {
    font-weight: 600;
}

.card__date {
    font-weight: normal;
}

.card__title {
    font-family: "DM Serif Display", serif;
    font-weight: 600;
    font-size: 40px;
    color: #081F32;
    margin-top: 25px;
    margin-bottom: 0px;
    /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}

.card__text {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #6E798C;
    margin-top: 15px;
    margin-bottom: 25px;
    /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}

.card__footer {
    display: flex;    
    justify-content: space-between;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #007AE9;
}

.card__author {
    display: flex;
    align-items: center;
}

.author__avatar {
    margin-right: 12px;
}

.card__link::after {
    content: " 🡢" ;
}

.link {
    color:#007AE9;
    text-decoration: none;
}

.link:hover {
    color:#007AE9;
    text-decoration: underline;
    cursor: pointer;
}

.link:active {
    color:#00417e;
    text-decoration: underline; 
    cursor: pointer;
}


/*
.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

}

.section {
    display: flex;
    width: 1002px;
    flex-direction: column;
}

.wrapper__item {
    margin-bottom: 64px;
}

.wrapper__item:first-child {
    margin-top: 32px;
}

.wrapper__item:last-child {
   margin-bottom: 48px;
}

.item {
    display: flex;
    height: 400px;
    
    border-radius: 16px;
    background-color:white;
    box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.04);
 }

.item__img {
    width: 400px;  
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 16px;
    border-top-left-radius: 16px;
}

.wrapper__item:first-child .item__img {
    background-color: #BCD1FF;
}

.wrapper__item:nth-child(2) .item__img {
    background-image: linear-gradient(-45deg, #F395BA, #FED182);
}

.wrapper__item:nth-child(3) .item__img {
    background-color: #D2EBF7;
}

.item__info {
    width: 527px;
    display: flex;
    flex-direction: column;
    padding-left: 32px;
    padding-top: 32px;
    padding-bottom: 32px;
    justify-content: space-between;
}

.item__info__header {
    display: flex;
    justify-content: space-between;
}

.item__info__header div {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #6E798C;
}

.item__info__header div+div {
    font-weight: normal;
}

.item__info__article h2 {
    font-family: "DM Serif Display", serif;
    font-weight: 600;
    font-size: 40px;
    color: #081F32;
    margin-top: 25px;
    margin-bottom: 0px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.item__info__article p {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #6E798C;
    margin-top: 15px;
    margin-bottom: 25px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.item__info__author {
    display: flex;    
    justify-content: space-between;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #007AE9;
}

.item__info__author__img {
    display: flex;
    align-items: center;
}

.item__info__author__img img{
    display: flex;
    align-items: center;
    margin-right: 12px;
}
/*
